body {
    
    font-family: 'Lato', sans-serif;
}


.navbar {

    margin-bottom: 20px;
}

.container {
    margin-top: 50px;
}

.card {
    box-shadow: 0 16px 30px rgba(0, 5, 6, 10);
    transition: transform 0.2s;
    border: none;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #4caf50;
}

footer {
    background-color: #4caf50;
    padding: 20px 0;
    color: white;
}
